
main{
  /* display: grid;
  grid-template-columns: 30% 70%; */
}
.header{
  font-size: 30px;
  font-weight: 700;
  padding: 10px 0;
  background-color: aqua;
  margin-bottom: 4px;
}

.slider{
  background-color: aqua;
}

.main{
  background-color: aquamarine;
}

.banner{
  width: 100%;
}

.banner img{
  width: 100%;
}

button{
  padding: 12px 24px;
  border-radius: 8px;
}
button.btn-big{
  background-color: aqua;
  color: black;
  padding: 12px 24px;

}
button.btn-medium{
  background-color: aquamarine;
  color: beige;
  padding: 8px 20px;

}
button.btn-small{
  background-color: bisque;
  color: aqua;
  padding: 4px 16px;

}